

/*
**	The ones who are crazy enough to think
**	that they can change the world,
**	are the ones who do.
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, main, nav, section { display:block; }
html, body { width:100%; height:100%; }
body { line-height:1; }
ol, ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table { border-collapse:collapse; border-spacing:0; }

/* ----- Reset ----- */

body {
	min-width:20em; background:#111 url(img/fundo-menu.jpg) left top repeat; color:#333; font-size:100%; line-height:100%; font-family:Verdana, sans-serif;
	word-wrap:break-word; -webkit-text-size-adjust:none;
}

input, select, textarea { color:#333; font-size:100%; line-height:100%; font-family:Verdana, sans-serif; outline:none; -webkit-appearance:none; }
textarea		{ resize:none; }
[type=checkbox]	{ -webkit-appearance:checkbox;	}
[type=radio]	{ -webkit-appearance:radio;		}

a		{ color:#999; text-decoration:none; }
a:hover	{ color:#666; text-decoration:none; }
img		{ vertical-align:bottom;	}
li		{ margin:.5em 0 0 2.5em;	}
ul		{ list-style:disc;			}
ol		{ list-style:decimal;		}
em		{ font-style:italic;		}
strong	{ font-weight:bold;			}

/* ----- Estrutura ----- */

.lateral { }
.lateral-wrap { padding:0 6.25%; }

.lateral a { color:#ddd; transition:color 600ms; }
.lateral a:hover { color:#fff; }

.lateral-mobile { padding:0 0 3.75em 0; display:none; }
.lateral-mobile-show { display:block; }

.lateral-topo { height:2em; padding:0.875em 0; border-bottom:0.0625em solid #666; }
.lateral-topo-logo { width:3.75em; height:2em; display:block; float:right; }
.lateral-topo-menu { width:1.25em; height:1em; margin:0.5em 0; line-height:100%; overflow:hidden; display:block; float:left; }

.lateral-menu { margin-top:3.75em; }
.lateral-menu-a { height:1.25em; padding:0.625em 0; text-align:center; display:block; }
.lateral-menu-a-span { padding-top:0.21428571428572em; font-size:0.875em; line-height:100%; text-transform:uppercase; display:inline-block; }
.lateral-menu-a:hover .lateral-menu-a-span { padding-bottom:0.14285714285714em; border-bottom:0.07142857142857em solid #c8d239; }

.lateral-redes-sociais { width:5em; height:1.875em; margin:3.75em auto 0 auto; }
.lateral-redes-sociais-a { width:1.875em; height:1.875em; margin:0 0.3125em; border-radius:50%; background:#333; display:block; float:left; transition:background 600ms; }
.lateral-redes-sociais-a:hover { background:#666; }

.lateral-rodape { margin-top:5em; color:#ddd; font-size:0.75em; line-height:150%; text-align:center; }

@media all and (min-width:30em) {
.lateral-colunas { width:50%; float:left; }
}

@media all and (min-width:40em) {
.lateral-topo { height:4em; padding:1.25em 0; }
.lateral-topo-logo { width:7.5em; height:4em; margin:0 auto; float:none; }
.lateral-topo-menu { margin:1.5em 0; }
}

@media all and (min-width:60em) {
.lateral { width:25%; float:left; }
.lateral-colunas { width:100%; float:none; }
.lateral-mobile { display:block; }

.lateral-topo { padding:3.75em 0 0 0; border:none; }
.lateral-topo-logo { width:10em; height:5.3125em; margin:0 auto; display:block; }
.lateral-topo-menu { display:none; }
}

.conteudo { background:#f6f6f6; }
.conteudo-margin  { max-width:50em; padding:0 6.25%; margin:0 auto; }
.conteudo-padding { padding-top:5em; padding-bottom:5em; }
.conteudo-linha   { height:0; border-top:0.0625em solid #fff; border-bottom:0.0625em solid #ddd; }

.rodape { background:#fff; }
.rodape-wrap { max-width:50em; padding:2em 6.25%; margin:0 auto; }
.rodape-facebook { width:17.5em; margin:0 auto; }
.rodape-creditos { width:3.75em; height:1.6875em; margin:1.875em auto 0 auto; display:block; }

@media all and (min-width:40em) {
.rodape-facebook { float:left; }
.rodape-creditos { margin:0; float:right; }
}

@media all and (min-width:60em) {
.conteudo { width:75%; float:left; }
}

/* ----- Conte&uacute;do ----- */

.conteudo-social { height:1.25em; }
.conteudo-social-li { height:1.25em; margin-right:0.625em; float:left; }

.conteudo-imagem { margin-bottom:1em; }
.conteudo-imagem-a { display:block; }
.conteudo-imagem-legenda { padding:1em; background:#fff; color:#666; font-size:0.75em; line-height:100%; }
@media all and (min-width:30em) {
.conteudo-imagem-e { width:47.72727272727273%; margin:0 4.54545454545455% 1.25em 0; float:left;  }
.conteudo-imagem-d { width:47.72727272727273%; margin:0 0 1.25em 4.54545454545455%; float:right; }
}
@media all and (min-width:40em) {
.conteudo-imagem-e { width:31%; margin-right:3.33333333333333%; }
.conteudo-imagem-d { width:31%; margin-left:3.33333333333333%;  }
}
@media all and (min-width:60em) {
.conteudo-imagem-e { width:31.25%; margin-right:3.125%; }
.conteudo-imagem-d { width:31.25%; margin-left:3.125%;  }
}
@media all and (min-width:80em) {
.conteudo-imagem-e { width:31.625%; margin-right:2.5%; }
.conteudo-imagem-d { width:31.625%; margin-left:2.5%;  }
}

.conteudo-galeria { margin-top:2.5em; }
.conteudo-galeria-li { margin-top:1.25em; height:180px; overflow:hidden; display:block; background:#FFFFFF; }
@media all and (min-width:30em) {
.conteudo-galeria { width:104.54545454545455%; margin-left:-2.27272727272728%; margin-right:-2.27272727272728%; }
.conteudo-galeria-li { width:45.45454545454544%; margin-left:2.27272727272728%; margin-right:2.27272727272728%; float:left; }
}
@media all and (min-width:40em) {
.conteudo-galeria { width:103.33333333333333%; margin-left:-1.66666666666667%; margin-right:-1.66666666666667%; }
.conteudo-galeria-li { width:30%; margin-left:1.66666666666667%; margin-right:1.66666666666667%; }
}
@media all and (min-width:60em) {
.conteudo-galeria { width:103.125%; margin-left:-1.5625%; margin-right:-1.5625%; }
.conteudo-galeria-li { width:30.3030303030303%; margin-left:1.51515151515152%; margin-right:1.51515151515152%; }
}
@media all and (min-width:80em) {
.conteudo-galeria { width:102.5%; margin-left:-1.25%; margin-right:-1.25%; }
.conteudo-galeria-li { width:30.85365853658537%; margin-left:1.21951219512195%; margin-right:1.21951219512195%; }
}
.conteudo-galeria-li img{ height:auto; !important }


.conteudo-video { height:0; padding-bottom:56.25%; position:relative; overflow:hidden; }
.conteudo-video-iframe { width:100%; height:100%; position:absolute; top:0; left:0; }

.conteudo-arquivos { width:107.14285714285714%; margin-top:2.5em; margin-left:-3.57142857142857%; margin-right:-3.57142857142857%; }
.conteudo-arquivos-li { width:43.33333333333333%; margin-top:1.25em; margin-left:3.33333333333333%; margin-right:3.33333333333333%; background:#fff; display:block; float:left; }
.conteudo-arquivos-icone { width:2.5em; height:2.5em; padding:1.25em; margin:0 auto; }
.conteudo-arquivos-texto { padding:1.66666666666667em; border-top:0.16666666666667em solid #ddd; font-size:0.75em; line-height:120%; text-align:center; }
@media all and (min-width:30em) {
.conteudo-arquivos { width:104.54545454545455%; margin-left:-2.27272727272728%; margin-right:-2.27272727272728%; }
.conteudo-arquivos-li { width:45.45454545454544%; margin-left:2.27272727272728%; margin-right:2.27272727272728%; float:left; }
}
@media all and (min-width:40em) {
.conteudo-arquivos { width:103.33333333333333%; margin-left:-1.66666666666667%; margin-right:-1.66666666666667%; }
.conteudo-arquivos-li { width:30%; margin-left:1.66666666666667%; margin-right:1.66666666666667%; }
}
@media all and (min-width:60em) {
.conteudo-arquivos { width:103.125%; margin-left:-1.5625%; margin-right:-1.5625%; }
.conteudo-arquivos-li { width:30.3030303030303%; margin-left:1.51515151515152%; margin-right:1.51515151515152%; }
}
@media all and (min-width:80em) {
.conteudo-arquivos { width:102.5%; margin-left:-1.25%; margin-right:-1.25%; }
.conteudo-arquivos-li { width:30.85365853658537%; margin-left:1.21951219512195%; margin-right:1.21951219512195%; }
}

.botao {
	padding:1.16666666666667em 0; background:rgba(255, 255, 255, 1); -webkit-transition:-webkit-box-shadow 300ms; transition:color 300ms, box-shadow 300ms;
	color:#999; font-size:0.75em; line-height:100%; text-align:center; text-transform:uppercase; display:inline-block;
}
.botao:hover { color:#333; -webkit-box-shadow:4px 4px 0 0 #ddd; box-shadow:4px 4px 0 0 #ddd; }

/* ----- Home / Anime ----- */

.anime-a { height:0; padding-bottom:75%; overflow:hidden; position:relative; display:block; }
.anime-a-imagem    { width:100%; position:absolute; top:0; left:0; transition:10s transform, 400ms opacity; }
.anime-a:hover .anime-a-imagem { transform:scale(1.1,1.1); opacity:0.9; }
.anime-a-overlay   { width:100%; height:100%; background:rgba(0,0,0,0.65); background:linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%); position:absolute; top:0; left:0; z-index:1; }
.anime-a-texto     { padding:1.25em; color:#fff; position:absolute; bottom:0; }
.anime-a-titulo    { padding-bottom:0.33333333333333em; font-size:1.125em; line-height:100%; }
.anime-a-descricao { font-size:0.85714285714286em; line-height:100%; }

@media all and (min-width:30em) {
.anime-a { width:50%; padding-bottom:15em; float:left; }
}

@media all and (min-width:40em) {
.anime-a { width:33.33333333333333%; }
}

@media all and (min-width:80em) {
.anime-a-texto { padding:2.5em; }
}

/* ----- Home / Produtos ----- */

.home-produtos { width:107.14285714285714%; margin:0 -3.57142857142857%; }
.home-produtos-botao { width:93.33333333333334%; margin:1.25em 3.33333333333334% 0 3.33333333333334%; }
.home-produtos-li { width:43.33333333333333%; margin:1.25em 3.33333333333334% 0 3.33333333333334%; background:rgba(255, 255, 255, 1); display:block; float:left; transition:background 400ms; }
.home-produtos-li:hover { background:rgba(255, 255, 255, 0.4); }

.home-produtos-li-imagem { width:5.625em; height:5.625em; margin:1.25em auto; }
.home-produtos-li-texto  { margin-bottom:1.25em; text-align:center; text-transform:uppercase; }
.home-produtos-li-texto-titulo    { color:#333; font-size:0.875em; line-height:150%; }
.home-produtos-li-texto-descricao { color:#666; font-size:0.75em;  line-height:100%; }

@media all and (min-width:40em){
.home-produtos { width:103.33333333333333%; margin:0 -1.66666666666667%; }
.home-produtos-botao { width:30%; margin:1.25em 1.66666666666667% 0 1.66666666666667%; float:right; }
.home-produtos-li { width:30%; margin:1.25em 1.66666666666667% 0 1.66666666666667%; }
.home-produtos-li-imagem { width:6.625em; height:6.625em; }
}

@media all and (min-width:60em){
.home-produtos-li-imagem { width:7.5em; height:7.5em; margin:2.5em auto 1.25em auto; }
.home-produtos-li-texto  { margin-bottom:2.5em; }
}

.produtos-cores { height:1.78571428571429em; line-height:1.78571428571429em; margin-top:1.14285714285714em; font-size:0.875em; }
.produtos-cores-cor { width:1.78571428571429em; height:1.78571428571429em; float:left; border-radius:50%; border:1px solid #fff; }

/* ----- Home / Not&iacute;cias ----- */

.home-noticias { margin-top:1.25em; background:#fff; display:block; }
.home-noticias-imagem { position:relative; }
.home-noticias-texto  { color:#666; padding:1.25em; }
.home-noticias-botao  { width:100%; margin-top:1.25em; }
@media all and (min-width:40em){
.home-noticias-imagem { width:50%; height:15em; overflow:hidden; float:left; }
.home-noticias-imagem-2 { float:right; }
.home-noticias-texto  { width:50%; float:left; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.home-noticias-botao  { width:31%; float:right; }
}
@media all and (min-width:60em) {
.home-noticias-texto  { padding:2.5em; }
}

.noticias { margin-top:1.25em; background:#fff; display:block; }
.noticias-imagem { position:relative; }
.noticias-imagem-img { width:100%; height:100%; }
.noticias-texto  { padding:1.25em; color:#666; }
@media all and (min-width:30em){
.noticias-imagem { width:28.57142857142857%; float:left; }
.noticias-imagem-wrap { width:100%; height:0; padding-bottom:75%; position:relative; overflow:hidden; }
.noticias-imagem-img { position:absolute; top:0; left:0; }
.noticias-texto  { width:71.42857142857143%; float:left; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
}
@media all and (min-width:50em){
.noticias-texto  { padding:2.5em; }
}
@media all and (min-width:60em){
.noticias-imagem { width:20%; }
.noticias-texto  { width:80%; padding:1.25em; }
}
@media all and (min-width:70em){
.noticias-texto  { padding:2.5em; }
}

/* ----- Forms ----- */

.form-label { height:1.42857142857143em; font-size:0.875em; display:block; }
.form-input {
	width:100%; height:3em; padding:1em; border:none; border-radius:0; background:#fff; color:#999; font-size:0.875em; -webkit-transition:-webkit-box-shadow 300ms; transition:color 300ms, box-shadow 300ms;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-box-shadow:2px 2px 0 0 #ddd; box-shadow:2px 2px 0 0 #ddd;
}
.form-input:focus { color:#333; -webkit-box-shadow:4px 4px 0 0 #ddd; box-shadow:4px 4px 0 0 #ddd; }
.form-input-erros { -webkit-box-shadow:2px 2px 0 0 #FFC2C3; box-shadow:2px 2px 0 0 #FFC2C3; }
.form-textarea { height:7em; }
.form-select { width:100%; border:none; background:url(img/form-select-flecha.png) no-repeat center right; }

.form-mensagem {
	margin-top:1.66666666666667em; padding:1em; background:#eee; border:0.08333333333333em solid #ccc; color:#333; font-size:0.75em; line-height:120%;
	display:none; -webkit-box-shadow:2px 2px 0 0 #ddd; box-shadow:2px 2px 0 0 #ddd;
}
.form-mensagem-erros { background:#fdd; border-color:#c00; }
.form-mensagem-certo { background:#dfd; border-color:#cfc; }

.form-botao {
	width:10em; height:3.5em; padding:1.25em; border:none; border-radius:0; background:#fff; color:#999; font-size:0.75em; text-transform:uppercase; -webkit-transition:-webkit-box-shadow 300ms; transition:color 300ms, box-shadow 300ms;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-box-shadow:2px 2px 0 0 #ddd; box-shadow:2px 2px 0 0 #ddd;
}
.form-botao:hover { color:#333; -webkit-box-shadow:4px 4px 0 0 #ddd; box-shadow:4px 4px 0 0 #ddd; cursor:pointer; }

.pedidos-produtos-1 { width:100%; float:left; }
.pedidos-produtos-2 { width:46.42857142857143%; float:left; }
.pedidos-produtos-gap-2 { width:7.142857142857143%; height:1em; float:left; }
.pedidos-botao { width:100%; }

.orcamentos-remover { padding:1.25em 0; }

@media all and (min-width:40em) {
.pedidos-produtos-2 { width:48.33333333333333%; float:left; }
.pedidos-produtos-gap-2 { width:3.333333333333333%; height:1em; float:left; }
}

@media all and (min-width:50em) {
.pedidos-produtos-1 { width:31.33333333333333%; float:left; }
.pedidos-produtos-2 { width:31%; padding-top:1.25em; float:left; }
.pedidos-produtos-gap-1, .pedidos-produtos-gap-2 { width:3.333333333333333%; height:1em; float:left; }
}

.pedidos-orcamento { width:2.25em; height:2.0625em; padding:0.375em 0; float:left; margin-right:1em; }
@media all and (min-width:27.375em) {
.pedidos-orcamento { width:3.0625em; height:2.8125em; padding:0; float:left; margin-right:1em; }
}

/* ----- Fontes ----- */

.color-999 { color:#999; }
.color-666 { color:#666; }

.font-size-12 { font-size:0.75em;  line-height:100%; }
.font-size-14 { font-size:0.875em; line-height:100%; }
.font-size-20 { font-size:1.25em;  line-height:100%; }
.font-size-24 { font-size:1.5em;   line-height:100%; }
.font-size-28 { font-size:1.75em;  line-height:100%; }
.font-size-32 { font-size:2em;     line-height:100%; }
.font-size-40 { font-size:2.5em;   line-height:100%; }

.font-weight-bold { font-weight:bold; }

.texto-link		 { color:#999; font-size:0.75em; line-height:100%; text-align:right; text-transform:uppercase; }
.texto-titulo    { font-family:Georgia, serif; font-style:italic; }
.texto-headline  { background:url(img/fundo-titulo.png) center right no-repeat; }
.texto-paragrafo { font-size:0.875em; line-height:150%; }

/* ----- Extras ----- */

.margin-20 { margin:1.25em 0; }

.margin-left-20 { margin-left:1.25em; }

.margin-top-8  { margin-top:0.5em;  }
.margin-top-20 { margin-top:1.25em; }
.margin-top-40 { margin-top:2.5em; }
.margin-top-60 { margin-top:3.75em; }
.margin-top-80 { margin-top:5em; }

.img-retina  { width:100%; height:100%; }
.box-shadow  { -webkit-box-shadow:2px 2px 0 0 #ddd; box-shadow:2px 2px 0 0 #ddd; }

.float-left  { float:left; }
.float-right { float:right; }
.clear-both  { height:0; overflow:hidden; clear:both; }

/* ----- Here's to the crazy ones! ----- */
