
/* ----- Elementar ----- */

*     {	margin: 0px; }
a img {	border: none; }
body  { background: #444; }
body, html { height: 100%; }
input, select, textarea { outline:none; resize:none; font-size:12px; }

body, td {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #777;
}
a, a:hover {
	color: #777;
	font-weight: bold;
	text-decoration: none;
}
a:hover { color: #555; }

h1 {
	color: #59ACFF;
	font-size: 20px;
	line-height: 30px;
}
h2 {
	color: #2693FF;
	font-size: 16px;
	line-height: 25px;
}
.text11 {font-size:11px;color:#999;}
.text12 { font-size:12px; }
.text18 { font-size:18px; }
.text666 { color:#666; }
.textNormal { font-weight:normal; }

/* ----- Botoes ----- */

.botao {
	height:20px; margin:0px auto; padding:4px 9px; background:url(img/fundo-botao-m.jpg) left top repeat-x; border:1px solid #2693FF; -webkit-appearance:none;
	color:#FFF; font-size:14px; line-height:20px; text-align:center; border-radius:4px; overflow:hidden; display:block;
}
.botao:hover { background-position:left bottom; color:#FFF; }

.botaoCinza {
	padding: 1px 4px;
	background: url(img/fundo-botao-cinza.jpg) left top repeat-x;
	border: 1px solid #999;
	font-size: 12px;
}

.botaoAdicionar {
	width: 150px;
	margin: 0px 50px 0px 0px;
	float: right;
}
.botaoRemover {
	width: 60px;
	position: absolute;
	right: 20px;
	bottom: 20px;
}
@media only screen and (max-width: 1050px){ .botaoRemover { right:10px; bottom:-5px; } }

.botaoInput {
	height: 38px !important;
	margin: 0px;
	padding: 0px !important;
	border: 1px solid #2693FF;
	background: url(img/fundo-botao-g.jpg) left top repeat-x;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	line-height: 28px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	float: left;
}
.botaoInput:hover { background-position:left bottom; color:#FFF; }

.botaoInputExcluir {
	width: 70px;
	height: 28px !important;
	line-height: 18px;
	background: url(img/fundo-botao-vermelho.jpg) left top repeat-x;
	border-color: #FF262C;
}
.divExcluir {
	margin: 10px 0px 0px 0px; 
	clear:both; 
	height:30px;
}
.ajaxStatusDel {
	font-size: 16px;
	height: 28px;
	line-height: 28px;
	float: left;
	margin: 0 0 0 10px;
}

.botao-file-input {
	width:210px;
	height:25px;
	overflow:hidden;
	position:relative;
	float: left;
}
.botao-file-input div {
	position:absolute;
}
.botao-file-input input {
	width:210px;
	height:25px;
	filter:alpha(opacity=00);
	opacity:0.0;
	position:absolute;
	top:0px;
	left:0px;
	z-index:10;
}

/* ----- Pesquisar & filtrar ----- */

.pesquisarFundo { width:28px; height:28px; background:url(img/fundo-botao-m.jpg) left top repeat-x; border:1px solid #2693FF; border-radius:4px; float:right; }
.pesquisarFundo:hover { background-position:left bottom; }
.pesquisarBotao { width:30px; height:30px; margin:0px; padding:0px; border:none; background:none; background:url(img/fundo-pesquisar.png) center center no-repeat; cursor:pointer; }
.pesquisarCampo {
	width:140px; height:20px; margin:0px 5px 0px 0px; padding:4px 9px; border:1px solid #DDD; background:#F6F6F6;
	color:#999; font-size:12px; line-height:20px; border-radius:4px; outline:none; float:right;
}
.pesquisarCampo:focus { border:1px solid #CCC; background:#F9F9F9; color:#666; }

.filtrar { width:160px; height:20px; padding:4px 9px; border:1px solid #DDD; border-radius:4px; background:#F6F6F6; }
.filtrar select { width:160px; height:20px; padding:0px; margin:0px; border:none; background:none; color:#999; font-size:12px; }
.filtrar select:focus { color:#666; }

/* ----- Estrutura ----- */

.wrapper  {
	min-height: 370px;
	height: auto !important;
	height: 370px;
	padding: 85px 50px 50px 250px;
	background: url(img/fundo-menu.jpg) left top repeat-y;
	background-color: #FFF;
}
@media only screen and (max-width: 1008px){ .wrapper { width:690px; } }

/* ----- Cabecalho ----- */

.cabecalho {
	width: 100%;
	height: 35px;
	background: url(img/fundo-cabecalho.jpg) left top repeat-x;
	color: #FFF;
	font-size: 12px;
	line-height: 17px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99;
}
@media only screen and (max-width: 1008px){ .cabecalho { width:990px; position:absolute; } }

.cabecalho a       { display:block; color:#FFF; }
.cabecalho a:hover { background:#444; }

.cabecalhoBarras {
	width: 1px;
	height: 35px;
	border-right: 1px solid #464646;
	background: #777;
	overflow: hidden;
	float: left;
}
.cabecalhoBarrasRight { float:right; }

.cabecalhoHome {
	width: 18px;
	height: 16px;
	padding: 10px 15px 9px 15px;
	float: left;
}
.cabecalhoTitulo {
	width: 370px;
	height: 17px;
	padding: 9px 15px;
	font-weight: bold;
	float: left;
}
.cabecalhoSair {
	width: 30px;
	height: 17px;
	padding: 9px 15px;
	text-align: center;
	font-weight: bold;
	float: right;
}
.cabecalhoSenha {
	width: 80px;
	height: 17px;
	padding: 9px 15px;
	text-align: center;
	float: right;
}
.cabecalhoUsuario {
	width: 270px;
	height: 17px;
	padding: 9px 15px;
	text-align: right;
	float: right;
}

/* ----- Menu ----- */

ul.menu {
	width: 198px;
	margin: 35px 0px 0px 0px;
	padding: 0px;
	border-right: 2px solid #454545;
	list-style: none;
	background: #DDD;
	position: fixed;
	top: 35px;
	left: 0px;
	z-index: 50;
}
@media only screen and (max-height: 500px){ ul.menu { position:absolute; } }

li.menu {
	width: 198px;
	height: 34px;
	margin: 0px;
	padding: 0px;
	position: relative;
	background: #EEE;
	display: block;
}
li.menu:hover { background:#DDD; }
li.menu:hover .submenu { display: block; }

li.menuAtivo:hover a.menu, a.menu, a.menu:hover {
	width: 168px;
	height: 22px;
	color: #777;
	line-height: 22px;
	padding: 5px 15px;
	background: none;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #CCC;
	display: block;
}
a.menu:hover { color:#555; }

li.menuAtivo:hover span.menu, span.menu {
	width: 17px;
	height: 34px;
	background: url(img/menu-over-seta.png) left top no-repeat;
	position: absolute;
	top: -1px;
	left: 198px;
	overflow: hidden;
	display: none;
	z-index: 29;
}
li.menuAtivo span.menu { display: block; }
li.menuAtivo a.menu {
	background: #DDD;
	/* color: #FFF;
	background: url(img/menu-fundo.jpg) left top repeat-x;
	border-top: 1px solid #888;
	border-bottom: 1px solid #666; */
}

.submenu {
	width: 200px;
	position: absolute;
	top: 0px;
	left: 198px;
	z-index: 59;
	display: none;
}
.submenu div {
	width: 17px;
	height: 34px;
	background: url(img/menu-over-seta.png) left top no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: inherit;
}
.submenu ul {
	width: 196px;
	margin: 3px 0px 0px 0px;
	padding: 0px;
	border: 1px solid #CCC;
	background: #FFF;
	list-style: none;
	-webkit-box-shadow:  5px 5px 10px -5px rgba(0, 0, 0, 0.2);
	box-shadow:  5px 5px 10px -5px rgba(0, 0, 0, 0.2);
	z-index: 39;
}
.submenu li {
	width: 196px;
	height: 26px;
	margin: 0px;
	padding: 0px;
}
.submenu ul a {
	width: 151px;
	height: 16px;
	padding: 5px 15px 5px 30px;
	border: none;
	background: #FFF;
	font-size: 12px;
	line-height: 16px;
	display: block;
}
.submenu ul a:hover { color:#666; background:#EEE; }

/* ----- Rodape ----- */

.rodape {
	width: 100%;
	height: 35px;
	background: url(img/fundo-cabecalho.jpg) left top repeat-x;
	border-bottom: 1px solid #666;
	color: #FFF;
	font-size: 12px;
	line-height: 17px;
	clear: both;
}
@media only screen and (max-width: 1008px){ .rodape { width: 990px; } }

.rodapeCopyright {
	width: 650px;
	height: 17px;
	padding: 9px 15px;
	float: left;
}
.rodapeCreditos {
	width: 240px;
	height: 25px;
	padding: 5px 15px;
	float: right;
}
.rodapeCreditos p {
	width: 180px;
	height: 17px;
	padding: 4px 0px;
	float: left;
	text-align: right;
}
.rodapeCreditos a {
	width: 56px;
	height: 25px;
	background: url(img/logo-isdesign-painel.png) left top no-repeat;
	overflow: hidden;
	display: block;
	float: right;
}
.rodapeCreditos a:hover { background-position: left bottom; }

/* ----- Home ----- */

.homeOla {
	width: 650px;
	height: 90px;
	padding: 15px 0px;
	margin: 0px auto;
}
.homeOlaLogo {
	width: 200px;
	height: 90px;
	float: left;
}
.homeOlaTexto {
	width: 400px;
	height: 80px;
	padding: 5px 0px 5px 50px;
	overflow: hidden;
	float: left;
}

.home {
	background: #FAFAFA;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	position: relative;
}
.homeTitle {
	padding: 20px;
	border-bottom: 1px solid #CCC;
}
.home ul {
	width: 100%;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.home ul li {
	width: 33%;
	margin: 0px;
	padding: 0px;
	border-left: 1px solid #CCC;
	float: left;
}
.home ul li:first-child { border:none; -webkit-border-radius:4px; border-radius:4px; overflow:hidden; }

.home ul li div { padding:20px; }

.home ul li div img {
	position: absolute;
	display: none;
	z-index: 0;
}
.home ul li div:hover img { display:block; }
.home ul li div img.setasLado  { bottom:-40px; left:-30px;  }
.home ul li div img.setasBaixo { bottom:-60px; left:48%;    }
.home ul li div img.setasCima  { top:-230px;   right:-10px; }

.homeAtualizacao {
	padding: 15px 0px 0px 0px !important;
	font-size: 12px;
}

/* ----- Lista ----- */

.legenda {
	width: auto;
	height: 30px;
	padding: 0px 0px 10px 0px;
}
.legenda p {
	height: 30px;
	font-size: 12px;
	line-height: 30px;
	float: right;
}
.legenda img {
	width: 18px;
	height: 18px;
	margin: 6px 5px 6px 20px;
	float: right;
}

table {
	width: 100%;
	padding: 0px;
	border: 1px solid #CCC;
	border-spacing: 0px;
	background: #FAFAFA;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
table tr td              { border-top:1px solid #CCC; }
table tr:first-child td  { border:none; }
table tr:nth-child(odd)  { background:#FAFAFA; }
table tr:nth-child(even) { background:#FFF; }
table tr:hover           { background:#F6F6F6; }

.listaBarra        { padding:0px 5px 0px 0px; }
.listaBarraCheck   { width:34px; height:14px; padding:13px 0px; text-align:center; }
.listaBarraTexto   { height:20px; padding:10px 20px 10px 0px; font-weight:bold; line-height:20px; }
.listaBarraInfo    { width:70px; }
.listaBarraInfo100 { width:100px; }
.listaBarraInfo150 { width:150px; }
.listaBarraInfo200 { width:200px; }
.listaBarraInfo250 { width:250px; }
.listaBarraAcessos { width:45px; height:18px; padding:11px 20px 11px 0px; text-align:center; }
.listaBarraIcones  { width:20px; height:18px; padding:11px 5px 11px 0px; text-align:center; }

.listaItem         { border-top:1px solid #CCC; padding:0px 5px 0px 0px; }
.listaItemCheck    { width:34px; height:14px; padding:13px 0px; text-align:center; }
.listaItemTexto    { padding:10px 20px 10px 0px; font-size:12px; }
.listaItemTexto a  { padding:0px 15px 0px 0px; font-weight:normal; background:none; display:block; float:left; }
.listaItemFoto     { padding:10px 20px 10px 0px; }
.listaItemInfo     { width:70px; }
.listaItemInfo100  { width:100px; }
.listaItemInfo150  { width:150px; }
.listaItemInfo200  { width:200px; }
.listaItemAcessos  { width:45px; text-align:center; }
.listaItemIcones   { width:14px; height:14px; padding:13px 8px 13px 3px; text-align:center; }

.listaItemTexto a span { float: left; }
.listaItemTexto a span img { width:10px; height:10px; opacity:0.0; filter:alpha(opacity=00); }
.listaItemTexto a:hover span img { opacity:1.0; filter:alpha(opacity=100); }

.listaEditorTexto { padding:10px; }

.listaPaginacao { text-align:center; }
.listaPaginacao a { font-weight:normal; }

/* ----- Editar ----- */

.editarTitulo {
	width: auto;
	height: 30px;
	margin: 10px 0px;
	padding: 4px 9px;
	background: #F6F6F6;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.editarTitulo input {
	width: 100%;
	height: 30px;
	margin: 0px;
	padding: 0px;
	border: none;
	background: none;
	color: #777;
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
}

.editarNome {
	width: auto;
	height: 24px;
	padding: 10px 19px 6px 19px;
	background: #F6F6F6;
}
.editarConteudo {
	width: auto;
	padding: 0px 19px 29px 19px;
	border-top: 1px solid #CCC;
	position: relative;
}
.editarRodape {
	width: auto;
	height: 24px;
	padding: 8px 19px 7px 19px;
	border-top: 1px solid #CCC;
	background: #F6F6F6;
}

.editarConteudoItem {
	width: 290px;
	min-height: 45px;
	margin: 19px 30px 0px 0px;
	float: left;
}
.editarConteudoItemG  { height:70px; }
.editarConteudoItemBig  { width:440px; }

.editarConteudoItem p { height:25px; display:block; }
.editarConteudoItem input,
.editarConteudoItem select { width:100%; }

.editarConteudoItem .alinhamentoImagem     { width:30px; height:50px; margin:0px 20px 0px 0px; cursor:pointer; display:block; float:left; }
.editarConteudoItem .alinhamentoImagem img { margin:0px 0px 5px 0px; }

.editarConteudoItem .estiloAlbum       { width:120px; height:30px; margin:0px 20px 0px 0px; cursor:pointer; display:block; float:left; }
.editarConteudoItem .estiloAlbum img   { margin:0px 5px 0px 0px; float:left; }
.editarConteudoItem .estiloAlbum div   { height:20px; padding:5px 0px; font-weight:normal; line-height:20px; float:left; }

.visibilidade  { width:50px; height:20px; margin:0px 10px 0px 0px; line-height:20px; float:left; }
.visibilidadeS { width:100px; }
.visibilidadeH { width:110px; }
.visibilidadeD { width:175px; }
.visibilidadeBig { width:210px; }

/* ----- Banco de imagens ----- */

.banco { margin:-30px 0px 0px -15px; padding:0px; list-style:none; display:block; }
.banco li { width:160px; height:170px; margin:30px 0px 0px 15px; padding:0px; position:relative; display:block; float:left; }
.banco-big li { height:200px; }

.banco-excluir {
	width:20px; height:20px; background:url(img/editar-album-excluir.png) left top no-repeat; border-radius:50%;
	position:absolute; top:5px; right:5px; overflow:hidden; display:block; cursor:pointer; z-index:9;
}
.banco-excluir:hover { background-position:left bottom; }

.banco-excluir-opcoes { width:180px; height:50px; padding:35px 5px; margin:-25px 0px 0px -75px; background:rgba(0,0,0,0.6); position:fixed; top:50%; left:50%; z-index:19; display:none; }
.banco-excluir-opcoes .botaoCinza { width:170px; margin:0px 0px 2px 0px; font-size:11px; cursor:pointer; }

.banco-foto { width:160px; height:120px; background:#F6F6F6; overflow:hidden; display:block; }
.banco-legenda {
	width:150px; height:20px; margin:0px; padding:4px; border:1px solid #DDD; border-radius:0px; background:#FFF;
	color:#999; font-size:12px; line-height:20px; -webkit-appearance:none; -webkit-border-radius:0px;
}
.banco-legenda:focus { color:#666; }
.banco-vinculos, .banco-topo { width:160px; height:15px; margin:5px 0px 0px 0px; color:#999; font-size:11px; font-weight:normal; text-align:center; display:block; }
.banco-vinculos:hover, .banco-topo:hover { color:#666; font-weight:normal; }
.imagem-legenda { margin:5px 0px 0px 0px; color:#999; font-size:11px; text-align:center; display:block; }

.vinculos { width:100%; height:100%; background:rgba(0,0,0,0.6); position:fixed; top:0px; left:0px; z-index:990; display:none; }
.vinculos-wrap { width:600px; height:535px; margin:-270px 0px 0px -300px; position:fixed; top:50%; left:50%; z-index:999; }
.vinculos-fechar {
	width:20px; height:20px; padding:4px; border:1px solid #FFF; border-radius:50%; background:#666; position:absolute; top:-15px; right:-15px; display:block;
	color:#FFF; font-weight:bold; font-size:12px; line-height:20px; text-align:center;
}
.vinculos-fechar:hover { background:#555; color:#FFF; }

.vinculos-titulo { width:600px; height:105px; background:#333; border-radius:4px 4px 0px 0px; }
.vinculos-titulo h1 { width:600px; height:30px; padding:20px 0px; text-align:center; display:block; }
.vinculos-botoes { width:99px; height:21px; margin:0px 1px 0px 0px; padding:7px 5px 7px 15px; background:#444; color:#FFF; line-height:21px; display:block; float:left; }
.vinculos-botoes:hover { background:#555; color:#FFF; }
.vinculos-botoes.ativo { background:#666; }

.vinculos-conteudo { width:580px; height:410px; padding:10px; background:#FFF; border-radius:0px 0px 4px 4px; }
.vinculos-lista { width:580px; height:360px; overflow:hidden; overflow-y:scroll; display:none; }

.vinculos-opcao { width:100%; height:58px; background:#F6F6F6; border-top:1px solid #CCC; border-bottom:1px solid #FFF; display:block; }
.vinculos-opcao-check { width:15px; height:14px; padding:22px 20px; float:left; }
.vinculos-opcao-texto { width:485px; height:38px; padding:10px 20px 10px 0px; float:left; }
.vinculos-opcao-texto-titulo { width:485px; height:19px; font-weight:bold; line-height:19px; overflow:hidden; display:block; }
.vinculos-opcao-texto-categoria { width:485px; height:19px; color:#999; font-size:12px; line-height:19px; overflow:hidden; display:block; }

.loading {
	width:60px; height:60px; margin:-25px 0px 0px -25px; border-radius:50%; position:fixed; top:50%; left:50%;
	background:url(img/loading-big.gif) center center no-repeat; background-color:#FFF;
}
.loading-salvar {
	width:150px; height:20px; padding:15px 0px 15px 25px; line-height:20px; display:none;
	background:url(img/loading.gif) left center no-repeat;
}

/* ----- Album de fotos ----- */

.galeria {
	margin: 0px;
	padding: 0px 10px 20px 10px;
	border-top: 1px solid #CCC;
	list-style: none;
}
.galeria div {
	width: 160px;
	height: 150px;
	margin: 10px 0px 10px 10px;
	padding: 0px;
	position: relative;
	overflow: hidden;
	float: left;
}
.galeriaHolder { background: #E0F0FF; }

.galeriaExcluir {
	width: 20px;
	height: 20px;
	background: url(img/editar-album-excluir.png) left top no-repeat;
	position: absolute;
	top: 5px;
	right: 5px;
	overflow: hidden;
	display: block;
	cursor: pointer;
	z-index: 9;
}
.galeriaExcluir:hover { background-position:left bottom; }

.galeriaImagem {
	width: 160px;
	height: 120px;
	background: #F6F6F6;
	overflow: hidden;
	display: block;
}
.galeriaLegenda {
	width: 150px;
	height: 20px;
	margin: 0px;
	padding: 4px;
	border: 1px solid #DDD;
	background: #FFF;
	color: #777;
	font-size: 12px;
	line-height: 20px;
}

.galeriaNovasFotos {
	padding: 0px 20px 20px 20px;
	border-top: 1px solid #CCC;
}
.file-content  {
	border: 1px solid #CCC;
	width: 160px;
}

/* ----- Forms ----- */

.label {
	width: 50px;
	height: 22px;
	padding: 0px 5px 0px 0px;
	line-height: 22px;
	text-align: right;
	display: block;
	float: left;
}

.input {
	width: 285px;
	border: 1px solid #999;
}
.textarea { height: 80px; }

.inputSelect {
	width: 283px;
	padding: 1px;
	border: 1px solid #999;
}
.inputSelect60 { width: 58px; }

.input:invalid {
	border-color: #999;
	-webkit-box-shadow: 0px 0px 3px 0px #CCC;
	box-shadow: 0px 0px 3px 0px #CCC;
}

.alerta {
	padding: 10px;
	border: 1px dashed;
	color: #555;
	line-height: 18px;
	text-align: center;
	display: none;
	clear: both;
}
.enviado { background:#DFEFFF; border-color:#2693FF; }
.errado  { background:#FFE8E8; border-color:#FF262C; }

.erros {
	padding: 0px 0px 0px 10px;
	color: #C00;
	font-size: 12px;
	display: none;
}
.separa {
	height: 10px;
	overflow: hidden;
	display: block;
	clear: both;
}

/* ----- Internas ----- */

.titulo { width:auto; height:30px; }
.titulo-pedido { width:auto; height:50px; }
.titulo h1 {
	width: 320px;
	float: left;
}
.tituloBotoes {
	width: 450px;
	float: right;
}

.bloco {
	background: #FAFAFA;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.blocoLinha   { border-bottom:1px solid #CCC; clear:both; }

/* ----- Extras ----- */

.cores { width:200px; height:20px; }
.cores-bloco { width:60px; height:20px; margin:0px 10px 0px 0px; display:block; border-radius:5px; float:left; }
.cores-texto { width:130px; height:20px; line-height:20px; float:left; }

.tecnicos { width:280px; height:50px; padding:10px 20px 0px 0px; }
.tecnicos-bloco { width:50px; height:50px; display:block; float:left; }
.tecnicos-texto { width:220px; height:40px; padding:5px 0px 5px 10px; line-height:20px; float:left; }

.width85     { width:85px; }
.width100    { width:100px; }
.width125    { width:125px; }
.width150    { width:150px; }
.width175    { width:175px; }
.width200    { width:200px; }

.marginTop5   { margin-top:5px; }
.marginTop10  { margin-top:10px; }
.marginTop15  { margin-top:15px; }
.marginTop20  { margin-top:20px; }

.marginLeft10 { margin-left:10px; }
.marginLeft15 { margin-left:15px; }
.marginLeft20 { margin-left:20px; }
.marginRight20 {margin-right:20px; }
.marginAuto   { margin-left:auto; margin-right:auto; }
.padding20    { padding:20px; }

.float        { float:left; }
.floatNone    { float:none; }
.floatRight   { float:right; }
.spacer25     { height:25px; clear:both; }
.spacer50     { height:50px; clear:both; }
.spacer80     { height:80px; clear:both; }
.clearBoth    { height:0px; overflow:hidden; clear:both; }
.ajaxStatus   { display:none; }
.displayNone  { display:none; }
.displayBlock { display:block; }

.tresColunas {
	column-count:3;
	-moz-column-count:3;
	-webkit-column-count:3;
	column-gap: 10px;
}
.imagem {
	width: 175px;
	height: 108px;
	padding: 0px;
	position: relative;
	overflow: hidden;
	display: block;
	border:1px solid #000;
	cursor: move;
}
.imagem #containment {
	width: 175px;
	position: absolute;
}

.status { height:20px; padding:14px 19px; margin-bottom:50px; border:1px dashed; border-radius:5px; font-size:16px; line-height:20px; text-align:center; cursor:pointer; }
.status img { width:20px; height:20px; margin:0px 5px 0px 0px; float:left; }
.status-erro { background:#F8E0DE; border-color:#AF251B; color:#CF2E21; }
.status-certo { background:#E1FFE9; border-color:#008C23; color:#008C23; }

/* ----- Forms ------ */

.form-label { height:20px; line-height:20px; display:block; }
.form-input { width:97%; height:20px; padding:4px 9px; background:#FFF; border:1px solid #C3C9D4; border-radius:5px; overflow:hidden; display:block; }
.form-select { width:100%; background:none; border:none; }
.form-checkbox { width:100%; height:26px; padding:0px 10px; border-radius:5px; line-height:26px; display:block; cursor:pointer; transition:250ms; }
.form-checkbox:hover { background:#DBDFE5; }
.form-textarea { height:120px; }

/* ----- Fotos dos produtos ------ */

.cadastro-album {  }
.cadastro-album-li { width:120px; height:120px; margin:10px 10px 0px 0px; border-radius:5px; border:1px dashed #949494; position:relative; float:left; cursor:move; }
.cadastro-album-imagem { width:120px; height:120px; overflow:hidden; background:#F4F5F7; }
.cadastro-album-imagem img { width:120px; height:auto; }

.cadastro-album-novo { width:120px; height:120px; margin:10px 10px 0px 0px; background:#FFFFFF; border-radius:5px; border:1px dashed #949494; position:relative; display:block; transition:500ms; float:left; }

.cadastro-album-novo:hover { background:#EFEFEF; }
.cadastro-novo-botao { width:120px; height:30px; padding:75px 0px 0px 0px; line-height:20px; text-align:center; background:url(img/icone-camera.png) center 30px no-repeat; font-weight:normal; color:#CCCCCC; font-size:12px; }

.foto-album-legenda { width:120px; height:20px; padding:5px 0px; color:#000; font-size:11px; text-align:center; display:block; position:absolute; bottom:-5px; z-index:2; }
.legenda-transparente { background-color:rgba(255, 255, 255, 0.7); }

.cadastro-album-legenda { width:110px; } 

.cadastro-album-excluir, .cadastro-foto-excluir { 
	width:20px; height:20px; background:#777777; border-radius:10px; position:absolute; top:-100px; right:-5px; z-index:2;
	color:#FFF; font-weight:normal; line-height:18px; text-align:center;
}
.cadastro-foto-excluir { display:none; }
.cadastro-album-excluir:hover,.cadastro-foto-excluir:hover,.cadastro-excluir:hover { background:#FB3133; color:#FFF; }
.cadastro-foto-excluir-2 { top:5px; right:5px; }

.cadastro-album-escondido { width:1px; height:1px; overflow:hidden; }
.fotos-first { width:120px; margin-top:5px; font-weight:bold; font-size:12px; text-align:center; }

/* ------ Pr&eacute;vias ----- */

.previa-img { width:160px; height:120px; background:#FFFFFF url(img/semimagem.jpg) center center no-repeat; border:solid 1px #DCDCDC; overflow:hidden; display:block; margin:10px 0px 10px 35px; position:relative; }
.previa-img img { width:160px; height:auto; }

.previa-img-banner { width:360px; height:270px; margin:10px 0px 10px 10px; }
.previa-img-banner img { width:360px; height:auto; } 


/* ----- Status e Alerts Flutuante ------ */

.status-flutuante-wrap {width:100%; height:40px; 	position:fixed; top:35px; left:0px; z-index:49; display: none; }
.status-flutuante {	margin: 0px 0px 0px 200px; height:40px; line-height:40px; color:#FFFFFF; text-align:center; size:12px; background:#666666; background-color:rgba(50, 50, 50, 0.8); border-bottom:1px solid #333333; }
.status-flutuante-erros  { background:#27b060; background-color:rgba(231,  76,  60, 0.8); }
.status-flutuante-certo  { background:#e74c3c; background-color:rgba( 39, 174,  96, 0.8); }
.status-flutuante-neutro { background:#666666; background-color:rgba(102, 102, 102, 0.8); }

/* ------ modal ------ */

.modal { width:100%; height:100%; background:rgba(0, 0, 0, 0.6); position:fixed; top:0px; left:0px; z-index:9998; display:none; }
.modal-wrap { padding:50px; background:rgba(255, 255, 255, 0.9); border-radius:6px; text-align:center; position:fixed; top:50%; left:50%; }
.modal-botao { height:24px; padding:8px 20px; background:#e83137; border-radius:6px; color:#fff; font-weight:bold; line-height:24px; text-align:center; display:block; cursor:pointer; }
.modal-botao:hover { color:#fff; }

#overlay { width:100%; height:100%; background:rgba(0, 0, 0, 0.6); position:fixed; top:0px; left:0px; z-index:9999; display:none; }
#overlay-wrap { padding:50px; width:200px; height:40px; line-height:20px; margin:-150px 0px 0px -70px; background:rgba(255, 255, 255, 0.9); border-radius:6px; text-align:center; position:fixed; top:50%; left:50%; }

/* ------ paginacao ------ */

.paginacao { width:300px; height:30px; margin:-30px 0px 0px 0px; float:right; }
.paginacao-botao { height:20px; padding:5px 0px; line-height:20px; display:inline-block; }
.paginacao-botao-anterior { float:left; }
.paginacao-botao-proxima { float:right; }

.paginacao-input { width:100px; height:200px; margin:0px auto; }
.paginacao-input-input {
	width:40px; height:20px; padding:4px; background:#FAFAFA; border:1px solid #CCC; border-radius:5px; -webkit-appearance:none;
	color:#666; font-size:14px; font-family:Arial, Helvetica, sans-serif; line-height:20px; text-align:center; float:left;
}
.paginacao-input-texto { width:40px; height:20px; padding:5px 0px 5px 10px; color:#666; line-height:20px; text-align:center; float:left; }

/* ------ sortable ------ */

.sortable { list-style-type:none; margin:0; padding:0; border:1px solid #CCCCCC; -webkit-border-radius: 4px; border-radius: 4px; }
.sortable li { margin:0; padding:5px; height:120px; overflow:hidden; border:0px; border-top:1px solid #CCC; }

.sortable li:nth-child(odd)  { background:#FAFAFA; }
.sortable li:nth-child(even) { background:#FFF; }

.sortableHead { background-color:#FAFAFA; height:50px; border:none;  }

.sortableCheck { float:left; }
.sortableImage { float:left; }
.sortableTexto { float:left; padding-top:50px; }
.sortableIcones { float:right; width:25px; }

/* ------ sugest&otilde;es para as relacionadas ------ */

#suggestions { width:200%; } 
.suggestions { line-height:20px; cursor:pointer; }

/* ----- Extras ------ */

.metade { width:44%; float:left; }
.color-azul     { color:#51A5DF; }
.color-vermelha { color:#D22524; }
.width350    { width:350px; }

.filtro { width:25%; float:left; } 
.filtro-label { width:90%; height:20px; overflow:hidden; display:block; }
.filtro-input { width:90%; height:20px; margin:5px 0px 0px 0px; padding:4px 0px; background:#FAFAFA; border:1px solid #CCC; border-radius:5px; line-height:20px; }
.filtro-input input, .filtro-input select {
	width:90%; height:20px; background:none; border:none; padding:0px; margin:0px 5%; line-height:20px; -webkit-appearance:none;
	color:#666; font-size:12px; font-family:Arial, Helvetica, sans-serif; line-height:20px;
}
.filtro-input select { background:url(http://www.joaoderly.com/painel/img/fundo-select.jpg) right center no-repeat; }
.filtro-submit {
	width:50%; height:30px; margin:25px 0px 0px 0px; padding:0px; border:1px solid #e83137; border-radius:5px; line-height:28px; text-align:center;
	background:url(http://www.joaoderly.com/painel/img/fundo-botao-m.jpg) left top repeat-x; color:#FFF; font-size:12px; font-family:Arial, Helvetica, sans-serif;
}
.produtos-cores { height:1.78571428571429em; line-height:1.78571428571429em; margin-top:1.14285714285714em; font-size:0.875em; }
.produtos-cores-cor { width:1.78571428571429em; height:1.78571428571429em; float:left; border-radius:50%; border:1px solid #fff; }

/* ----- the end! ------ */
