* { 
	margin: 0px;
	padding: 0px;
}
a img { border: none; }
body  { background: #FFF; }

body, td {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
}
a {
	color: #666;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #444;
	font-weight: bold;
	text-decoration: underline;
}

/* ----- T&iacute;tulos ----- */

h1 {
	color: #1079AB;
	font-size: 21px;
}
h1.textoPink    { color: #D7376C; }
h1.textoRosa    { color: #BD55A7; }
h1.textoRoxo    { color: #7E40A9; }
h1.textoVerde   { color: #00BD71; }
h1.textoLaranja { color: #F90;    }
h1.textoAmarelo { color: #F93;    }

h2 {
	color: #999;
	font-size: 18px;
}
h3 {
	color: #999;
	font-size: 15px;
}

/* ----- Textos ----- */

.titulo {
	height: 23px;
}
.titulo h2 {
	height: 17px;
	padding: 3px 10px;
	color: #FFF;
	line-height: 17px;
	float: left;
}

.texto {
	width: 800px;
	padding: 14px 10px 0px 10px;
}
.textoMarinho a, .textoMarinho a:hover { color:#1079AB; }
.textoAzul    a, .textoAzul    a:hover { color:#2064C1; }
.textoPink    a, .textoPink    a:hover { color:#D7376C; }
.textoRosa    a, .textoRosa    a:hover { color:#BD55A7; }
.textoRoxo    a, .textoRoxo    a:hover { color:#7E40A9; }
.textoVerde   a, .textoVerde   a:hover { color:#00BD71; }
.textoLaranja a, .textoLaranja a:hover { color:#F90;    }
.textoAgua    a, .textoAgua    a:hover,
.textoAgua                             { color:#00A3A5; }
.textoAmarelo a, .textoAmarelo a:hover { color:#F93;    }

.color999,
.color999 a       { color: #999; }
.color999 a:hover { color: #666; }

.texto11,
.texto11 a,
.texto11 a:hover { font-size:11px; font-weight:normal; text-decoration:none !important; }

.marginTop5  { margin:5px 0px 0px 0px; }
.marginTop10 { margin:10px 0px 0px 0px; }

.paddingTop8    { padding:8px 0px 0px 0px; }
.paddingBottom8 { padding:0px 0px 8px 0px; }

/* ----- Extras ----- */

.spacer30 {
	margin: 30px 0px 0px 0px;
	clear: both;
}
.spacer45 {
	margin: 45px 0px 0px 0px;
	clear: both;
}
.clearBoth {
	height: 0px;
	overflow: hidden;
	clear: both;
}